[tabindex="-1"]:focus {
  outline: none !important;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  /* stylelint-disable-line  property-no-vendor-prefix */
  min-width: 320px;
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 0.75em;
  color: #1c1c1c;
  background-color: #ffffff;
  margin: 0;
  min-height: 100%;
}

a {
  color: #0275d8;
  text-decoration: none;
  background-color: transparent;
}
a:hover,
a:focus {
  color: #014c8c;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

h1 {
  font-size: 3.438em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
  font-weight: 700;
  line-height: 1.4;
  color: currentColor;
}

h1,
h2,
h3 {
  margin-top: 0.75em;
  margin-bottom: 0.375em;
}

h4,
h5,
h6 {
  margin-top: 0.375em;
  margin-bottom: 0.375em;
}

.p,
p,
ul,
ol,
dl,
blockquote,
pre,
address,
figure,
table {
  margin-top: 0.375em;
  margin-bottom: 0.375em;
}

address {
  font-style: normal;
}

ul,
ol {
  padding-left: 1.8em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: 0.75em;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}
dd + dt {
  margin-top: 0.375em;
}

hr {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  border: 0;
  border-top: 1px solid #c1c1c1;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 70%;
}

mark {
  background: #fcf8e3;
  padding: 0.1em 0.3em;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  border-bottom: 1px dotted;
}

blockquote {
  padding: 0 0 0 0.5em;
  margin-left: 0;
  margin-right: 0;
  border-left: 1px solid #c1c1c1;
}
blockquote p:first-child,
blockquote ul:first-child,
blockquote ol:first-child {
  margin-top: 0;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer {
  text-align: right;
  color: #808080;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
  color: #1c1c1c;
  background-color: #eeeeee;
  padding: 0.06em 0.3em;
  border-radius: 0.6rem;
}

kbd {
  padding: 0.06em 0.3em;
  color: #1c1c1c;
  background-color: #eeeeee;
  border-radius: 0.6rem;
}
kbd kbd {
  padding: 0;
}

pre {
  display: block;
  width: 100%;
  overflow-x: auto;
  background-color: #e1e1e1;
  padding: 1em;
  border-radius: 0.6rem;
  border: 1px solid #eeeeee;
  white-space: normal;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
}

.source {
  width: 0;
  height: 0;
  visibility: hidden;
}

.task {
  width: 260px;
  margin: 0 auto;
  padding: 10px 0 20px;
}
.task--01::after {
  content: "";
  display: table;
  clear: both;
}

.rating {
  float: left;
}
.rating::after {
  content: "";
  display: table;
  clear: both;
}
.rating__item {
  cursor: pointer;
  float: right;
  margin-right: 2px;
}
.rating__star {
  width: 18px;
  height: 18px;
  fill: url("#gray");
  -o-transition: color 0.2s ease-in-out;
     transition: color 0.2s ease-in-out;
}

input[name="star"] {
  display: none;
}

input[name="star"]:checked ~ label .rating__star,
input[name="star"]:focus ~ label .rating__star,
label:hover ~ label .rating__star,
svg.rating__star:hover {
  fill: url("#yellow");
}

.progress-bar {
  position: relative;
  width: 210px;
  height: 15px;
  box-shadow: 0 1px 0 0 #cecece inset,0 1px 0 0 #cecece inset,0 1px 5px 1px #eeeeee inset;
  border-radius: 8px;
  overflow: hidden;
}
.progress-bar__inner {
  width: 20%;
  height: 100%;
  position: relative;
  top: -1px;
  left: -1px;
  border-radius: 8px;
  background-color: #99ff66;
  background: -o-linear-gradient(bottom, #99ff66 0%, #00cc33 30%, #00cc33 50%, #99ff66 100%);
  background:    linear-gradient(to top, #99ff66 0%, #00cc33 30%, #00cc33 50%, #99ff66 100%);
  -webkit-animation: grower 1s linear;
       -o-animation: grower 1s linear;
          animation: grower 1s linear;
  -o-transition: width 0.2s linear;
     transition: width 0.2s linear;
}

.progress-bar__text {
  position: absolute;
  font: bold 12px/14px Arial;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes grower {
  0% {
    width: 0;
  }
}

@-o-keyframes grower {
  0% {
    width: 0;
  }
}

@keyframes grower {
  0% {
    width: 0;
  }
}

.btn {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
          align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0.313em 1.25em;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-size: 0.750em;
  font-family: inherit;
  font-weight: 700;
  line-height: 0.75em;
  text-decoration: none;
  text-transform: none;
  border-radius: 0.6rem;
  border: 1px solid #c1c1c1;
  color: #1c1c1c;
  background-color: #eeeeee;
  background: -o-linear-gradient(bottom, #eeeeee, #ffffff);
  background:    linear-gradient(to top, #eeeeee, #ffffff);
  box-shadow: 0 1px 0 0 #c1c1c1;
}
.btn--hover,
.btn:hover {
  text-decoration: none;
  color: #1c1c1c;
  background: #d5d5d5;
  border-color: #a2a2a2;
}
.btn--active,
.btn:active,
.btn:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
  color: #1c1c1c;
  background: #c8c8c8;
  border-color: #969696;
}
.btn--disabled,
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
  color: #1c1c1c;
  background: #eeeeee;
  border-color: #c1c1c1;
}
.btn--main {
  color: #ffffff;
  background: #0275d8;
  border: 1px solid #0275d8;
}
.btn--main--hover,
.btn--main:hover {
  color: #ffffff;
  background: #025aa5;
  border-color: #01549b;
}
.btn--main--active,
.btn--main:active,
.btn--main:focus {
  color: #ffffff;
  background: #014c8c;
  border-color: #014682;
}
.btn--main--disabled,
.btn--main:disabled {
  color: #ffffff;
  background: #0275d8;
  border-color: #0275d8;
}
.btn--danger {
  color: #ffffff;
  background: #d9534f;
  border: 1px solid #d9534f;
}
.btn--danger--hover,
.btn--danger:hover {
  color: #ffffff;
  background: #c9302c;
  border-color: #c12e2a;
}
.btn--danger--active,
.btn--danger:active,
.btn--danger:focus {
  color: #ffffff;
  background: #b52b27;
  border-color: #ac2925;
}
.btn--danger--disabled,
.btn--danger:disabled {
  color: #ffffff;
  background: #d9534f;
  border-color: #d9534f;
}
.btn--success {
  color: #ffffff;
  background: #5cb85c;
  border: 1px solid #5cb85c;
}
.btn--success--hover,
.btn--success:hover {
  color: #ffffff;
  background: #449d44;
  border-color: #419641;
}
.btn--success--active,
.btn--success:active,
.btn--success:focus {
  color: #ffffff;
  background: #3d8b3d;
  border-color: #398439;
}
.btn--success--disabled,
.btn--success:disabled {
  color: #ffffff;
  background: #5cb85c;
  border-color: #5cb85c;
}
.btn--lg {
  font-size: 1.5em;
}
.btn--sm {
  font-size: 0.75em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.btn--block {
  width: 100%;
  text-align: center;
}
.btn--block + .btn--block {
  margin-top: 0.375em;
}
@media (min-width: 768px) {
  .task {
    width: 668px;
  }
}
@media (min-width: 1024px) {
  .task {
    width: 1024px;
  }
}
