.progress-bar {
  position: relative;
  width: 210px;
  height: 15px;
  box-shadow: 0 1px 0 0 #cecece inset,0 1px 0 0 #cecece inset,0 1px 5px 1px #eeeeee inset;
  border-radius: 8px;
  overflow: hidden;

  &__inner {
    width: 20%;
    height: 100%;
    position: relative;
    top: -1px;
    left: -1px;
    border-radius: 8px;
    background-color: #99ff66;
    background: linear-gradient( to top, #99ff66 0%, #00cc33 30%, #00cc33 50%, #99ff66 100%);
    animation: grower 1s linear;
    transition: width 0.2s linear;
  }
}

.progress-bar__text {
  position: absolute;
  font: bold 12px/14px Arial;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes grower {
  0% {
    width: 0;
  }
}
